.message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.message-sender {
    margin-bottom: 0;
    color: gray;
    font-size: 14px;
}