.button {
    color: red;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.layout {
    height: 100vh;
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    align-items: center;
    padding: 10px 40px;
    height: 60px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header__inner h1 {
    margin: 0;
}
.header__inner a {
    color: #fff;
}
.container-main {
    height: calc(100% - 60px);
}

.MuiGrid-grid-xs-3,
.MuiGrid-grid-xs-9 {
    height: 100%;
}
.MuiGrid-grid-xs-3 {
    padding-right: 0 !important;
}
.MuiGrid-grid-xs-9 {
    padding-left: 0 !important;
}

.message-field__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: calc(100% - 80px);
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
}
.message-field__bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}

.list__outer {
    position: relative;
    height: 100%;
}
.list__users {
    overflow-y: auto;
    padding-bottom: 80px !important;
    height: 100%;
}

.list__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    padding-right: 20px;
    width: 100%;
}